
.btn, .inverted {
    font-family: inherit;
    font-weight: 700;
    padding: .4rem 1rem;
    border-radius: 5px;
    text-transform: uppercase;
    transition: .3s ease-in-out;
}
.btn {
    background-color: #1e9ec5;
    border: 1px solid #1e9ec5;
    color: #f1f1f1;
}

.inverted {
    background-color: #fff;
    border: 1px solid #fff;
    color: #1e9ec5;
    width: 20%;
    margin: 1rem auto 0 auto;
}

.btn:hover {
    background-color: #fff;
    border: 1px solid #1e9ec5;
    color: #1e9ec5;
}

.inverted:hover {
    background-color: #fff;
    border: 1.5px solid #0e0e0e;
    color: #0e0e0e;
}