.contactContainer {
    width: 100%;
    margin: 0 auto;
    background-color: #1e9ec5;
    padding: 2rem;
    color: #fff;
}

.textContent {
    max-width: 1100px;
    margin: 0 auto;
}

.links {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}


.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .8rem;
}

.input, .textarea {
    padding: .4rem;
    border: none;
    border-bottom: 2px solid #02707a;
    border-radius: 5px;
    background-color: #fff;
    font-family: inherit;
}



.textarea {
    height: 150px;
}