.projectContainer {
    margin: 2rem 1rem;
}

h3 {
    margin: 0;
}

.card {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 1px 1px 15px #b6ecfd85;
}

.img {
    border-radius: 5px;
}